asistenteInternoFlujoPrincipal.json
{
  "name": "asistenteInternoFlujoPrincipal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "asistenteInterno",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1040,
        576
      ],
      "id": "cedff382-d2b3-40db-a04c-99dec0a6bd69",
      "name": "Webhook",
      "webhookId": "dd15306f-a97f-403e-ac03-aaaa79fadd06"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0deefa05-89c8-4d0e-9571-49a2523e385c",
              "name": "usuario",
              "value": "={{ $json.body.usuario }}",
              "type": "string"
            },
            {
              "id": "5e01e26d-fa9b-4494-913c-1812ad240a02",
              "name": "mensaje",
              "value": "={{ $json.body.mensaje }}",
              "type": "string"
            },
            {
              "id": "6a712167-7b7d-4499-9337-621ed6201159",
              "name": "prioridad",
              "value": "={{ $json.body.mensaje.includes(\"urgente\")? \"alta\": \"normal\"}}",
              "type": "string"
            },
            {
              "id": "7a38d967-3574-478b-a2c5-c0a9f53f83ef",
              "name": "fecha",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "9e52df8c-8224-4b8f-9ed3-4effefdfad7f",
              "name": "flujo",
              "value": "={{ $workflow.name }}",
              "type": "string"
            },
            {
              "id": "cff35915-2b92-46c3-844d-fadd2b2ca1cd",
              "name": "ejecucionId",
              "value": "={{ $execution.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        576
      ],
      "id": "3d91b60f-6c84-4792-8610-44278a42246b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9971e876-600e-4f3c-bd90-43b7f026917f",
              "leftValue": "={{ $json.mensaje }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "9c31d872-286e-43a7-9b35-99b13df451ea",
              "leftValue": "={{ $json.mensaje.length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "bcbc3310-b4ae-46be-bbb2-a6880b672598",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -592,
        576
      ],
      "id": "cb9b749d-2183-4612-8927-c55338d1ee53",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"estado\": \"error\",\n  \"detalle\": \"El mensaje puede estar vacio o demasiado corto\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -368,
        672
      ],
      "id": "474c951c-4b60-4f70-b386-af6a84894b92",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dshvhmkudx7PM5KQ",
          "mode": "id",
          "cachedResultUrl": "/workflow/dshvhmkudx7PM5KQ"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "mensaje"
          ],
          "schema": [
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -368,
        480
      ],
      "id": "f82bd561-2a64-4592-8f57-50708863c4d6",
      "name": "Call 'subClasificarMensaje'"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0a14fcf0-541c-415c-bad1-66d72b2184fd",
                    "leftValue": "={{ $json.categoria }}",
                    "rightValue": "it",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "it"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a3d9bf35-5be4-429b-b0ca-baf9f14f23c8",
                    "leftValue": "={{ $json.categoria }}",
                    "rightValue": "legal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "legal"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "96f5bd4a-a64c-444f-8e8f-5628ddb72478",
                    "leftValue": "={{ $json.categoria }}",
                    "rightValue": "facilities",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -144,
        448
      ],
      "id": "54f8c426-e944-4560-bab7-e7d9c81d13f8",
      "name": "Switch",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Call 'subClasificarMensaje'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'subClasificarMensaje'": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        null,
        [],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "51080920-44f3-4024-8a78-9dc8da1f959f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "678bdde11ec7660639a28851ab6edc243ace3160e0fe080c555393e115f3ec64"
  },
  "id": "1LxOxpxB0uORK0xs",
  "tags": []
}